@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


body{
    font-family:'Inter', sans-serif;
    font-size: 32px;
}
*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-image:url(./images/pattern-curve.svg) ;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.slider{
    display: block;
    height: 100%;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    position:relative;
    
}

.slide{
    width: 100%;
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items : center;
    text-align: center;

}

.slide-img{
    width:100%;
    margin: 0 auto;
    height: 100%;
    padding:40px;
    background-image: url(./images/pattern-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.slide-text{
    padding-top:30px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    background-image:url(./images/pattern-quotes.svg);
    background-repeat:no-repeat;
    background-size:80px;
    background-position: top center;

}

.testimonial-text{
    font-weight:300;
    font-size: 1.3rem;
    line-height: 30px;
    color:hsl(240, 38%, 20%);
    padding:40px;
    margin-top:50px;
    
}

.author{
    
    color:hsl(240, 38%, 20%);
    font-size: 25px;
    font-weight:700;
    margin-bottom:100px;
}

.author span{
    color:hsl(240, 18%, 77%);
    font-weight:500;
    display:block;
    margin-top:10px;
    margin-bottom: 80px;
}

.slide-img img{
    width: 300px;
    height:100%;
}



.previous, .next{
    display:inline-block;
    width:50%;
    height:100%;
    position:absolute;
    cursor:pointer;
    
}

.previous:hover,
.next:hover{
	background-color: antiquewhite;
}

.button{
    position:absolute;
    left:50%;
    top: 315px;
    transform: translate(-50%);
    width: 90px;
    height:45px;
    box-shadow: -20px 12px 20px 0px hsla(240,14%,77%,0.52);
    border-radius: 50px;
    background-color:white;
    overflow:hidden;
    
    
}

.previous{
    left: 0;
    
}

.next{
    right:0;
    
}
.next::after,
.previous::after{
    content: '';
    position:absolute;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size:auto;
    

}


.next::after{
    background-image:url(./images/icon-next.svg);
}

.previous::after{
    background-image:url(./images/icon-prev.svg);
    

}

@media only screen and (min-width:750px){

    
    .slide{
        flex-direction: row;
        text-align: left;
    }

    .slide-text{
        background-position:10% top;
        background-size: 100px;
        align-items: flex-start;
        margin-left:-100px;
        margin-top:100px;
        height:100%;
        margin-left:50px;
    }

    .author{
        margin-left:50px;
    }

    .slide-img{
        margin-left:-100px;
        z-index: -1;
        width:1000px;
    }

    .slide-img img{
        width: 300px;

    }

    .button{
        top: 435px;
        transform: translate(0);
        left: calc(100% - 350px);
    }

    .container{
        background-size: 100% 20%;
        height: 100%;
    }
}

.slide-2{
    display: none;
}
